@font-face {
    font-family: 'fontello';
    src: url('./font/fontello.eot?57179589');
    src: url('./font/fontello.eot?57179589#iefix') format('embedded-opentype'),
         url('./font/fontello.woff2?57179589') format('woff2'),
         url('./font/fontello.woff?57179589') format('woff'),
         url('./font/fontello.ttf?57179589') format('truetype'),
         url('./font/fontello.svg?57179589#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body > div > header > h1>a{ /* header */
    height: 5vh;
    line-height: 4vh;
    width: auto;
    border-width: 4px;
    border-style: solid;
    border-color: #618B83;
    display: block;
    background-color: #618B83;
    text-align: center;
    text-decoration: none;
    color: black;
}

body > div{ /* header i div z resztą */
    display: flex;
    justify-content: space-between;
    background-color: #618B83;
}
#searchdell{
    display: block;
    padding: 6px 5px;
    margin-right: 1px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#Szukane{
    display: block;
    position: absolute;
}
.Szukane{
    border-width:1px;
    width: 284px;
    padding: 7px;
    font-size: 17px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: black;
    display: block;
}
body form#search{ /* formularz wyszukiwania*/
    height: 5vh;
    border-width: 4px;
    width: 284px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #e69c6a;
    border-style: solid;
    border-color: #618B83;
}
div > form > input[type=text]{/* formularz input */
    padding: 6px;
    font-size: 17px;
    width: auto;
    border: none;
}
body > div button[type=Submit]{/* formularz przyisk */
    float: right;
    padding: 6px 5px;
    margin-right: 1px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
#user{ /* przycisk menu */
    border: none;
    border-width: 4px;
    border-style: solid;
    border-color: #618B83;
    min-width: 7vw;
    background-color: #e69c6a;
    height: 5vh;
}
#user:hover{ /* podświetlenie menu*/
    background-color: #E07750;
}
#log div{
    display: flex;
    display: none;
}
#log a{
    min-width: 7vw;
    border-left: solid;
    border-right: solid;
    border-color: #618B83;
}
#log:hover div{
    display: block; 
    flex-direction: column;
    position: absolute;
}
body div>button:active{ /* przyciskanie menu */ 
    color: white;
}

.anull{ /*button new*/
    border-width: 4px;
    display: block;
    border-style: solid;
    border-color: #618B83;
    border-left: none;
    border-right: none;
    height: 5vh;
    line-height: 4vh;
    text-align: center;
    background-color: #e69c6a;
    width: 5vw;
    text-decoration: none;
    color: black;
}
#searchDell{
    border-width: 4px;
    display: block;
    border-style: solid;
    border-color: #618B83;
    border-left: none;
    border-right: none;
    height: 5vh;
    line-height: 4vh;
    text-align: center;
    background-color: #e69c6a;
    width: 2vw;
    text-decoration: none;
    color: black;
}
.anull:hover{ /* podświetlenie new */
    background-color: #E07750;
}


.anull:active{ /* przyciskanie new */
    color: #f3f3f3;
}

body > div > div { /* div > search bar i reszta */
    display: flex;
}
main{
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    border-style: solid;
    border-color: #615753;
    border-left: none;
    border-right: none;
    border-top: none;
}
#left{ /* lewy aside wszystko */
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 25vw;
    height: 80vh;
}
#left>div{
    display: flex;
    padding: 2vh;
}
#left a{
    display: block;
    text-decoration: none;
    font-size: 6vh;
    border-style: solid;
    background-color: #e69c6a;
    border-color:#618B83;
    color: black;
}
#left > img{
    width: 25vw;
    height: 80vh;
}
article{ /* logowanie */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}
article > header{
    text-align: center;
    padding-bottom: 4vh;
}
article > div{
    padding-top: 2vh;
    text-align: center;
}
article > div > input{
    width: 45%;
}
article > form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article > form > input{
    border-color: #e69c6a;
    margin-top: 1vh;
    font-size: 17px;
    padding-left: 3px;
} 
label{
    display: flex;
    justify-content: center;
}
label>p{
    padding-left: 5px;
}
article > form > #przy{
    display: flex;
    padding-top: 2vh;
    justify-content: space-evenly;
}
article > form > #przy > input{
    padding: 5px;
    width: 35%;
}
article > form > #przy > button{
    width: 30%;
}
#right{ /* prawy aside */
    width: 25vw;
    display: flex;
    align-content: stretch;
    height: 80vh;
}
#right > img{
    width: 25vw;
}
footer > div{ /* dancin cockroach*/
    display: flex;
    height: calc(15vh - 3px);
    background-color: #867d79;
    justify-content: center;
}
footer{ /* the foot */ 
    background-color: #615753;
    height: calc(15vh - 3px);
}


.error{
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: never;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
  
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
  
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-plus:before { content: '\e803'; } /* '' */
  .icon-up-open:before { content: '\e804'; } /* '' */
  .icon-down-open:before { content: '\e805'; } /* '' */
  .icon-left-open:before { content: '\e806'; } /* '' */
  .icon-right-open:before { content: '\e807'; } /* '' */
  .icon-search:before { content: '\f50d'; } /* '' */
  